.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://www.syfy.com/sites/syfy/files/styles/2280x1280_hero/public/2017/11/twilight_zone_time_enough_at_last_01.jpg");
    background-size: contain;
    margin-top: 50px;
    background-color:black;
    outline:black solid 5px;
    border-color: goldenrod;
    color: goldenrod;
    text-shadow: black;
    shadow:black;
    border-bottom: solid 6px;
  }

  .header .container {
    vertical-align: top;
    text-align: left;
 
    top: 200px; 
    /* left: 0;  */
    width: 100%; 
  } 

  h1, h2, h3, h6 {
    background-color: rgb(0 0 0 / 70%);
    width:fit-content;
    border-radius: 3px;
  }

  a, a:link, a:visited {
    color: goldenrod;
  }